terraform {
  backend "s3" {
    bucket         = "time-manager-terraform-state"
    key            = "kubernetes/cloud/terraform.tfstate"
    region         = "eu-west-3"
    encrypt        = true
    kms_key_id     = "alias/time-manager-terraform"
    dynamodb_table = "time-manager-terraform-lock"
  }
}
